*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-style-1 { /*ul*/
    margin:10px auto;
    max-width: 440px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block; /*not necessary li are block*/
    list-style: none; /*removes all styles*/
    margin: 10px 0 0 0; /*li margin-top*/
}
.form-style-1 label{
    margin:0 0 3px 0; /*label margin-bottom*/
    /*padding:0px;*/ /* *{} selector */
    display:block; /* one line for the label */
    font-weight: bold;
}
/* *
* here they go attribute selectors
* notice that type submit is no here
* */
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
    /* box-sizing: border-box;*/ /* *{} selector */
    /* -webkit-box-sizing: border-box; */
    /* -moz-box-sizing: border-box; */
    border:1px solid #BEBEBE;
    padding: 7px;
    /* margin:0px;*/ /* *{} selector */
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    outline: none; 
}
/* *
 * yet more attribute selectors
 * */
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
    /*-moz-box-shadow: 0 0 8px #88D5E9;*/
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
/* *
 * yet more attribute selectors
 * there are no buttons but it is a good idea for future additions
 * */
.form-style-1 input[type=submit], .form-style-1 input[type=reset]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=reset]:hover{
    background: #4691A4;
    box-shadow:none;
    /*-moz-box-shadow:none;*/
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}