body {
  max-width: 1280px;
  margin: auto;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

header {
  background-image: url(./imagenes/Background/IAFondo.jpeg);
  background-position: left;
  background-repeat: no-repeat;
  background-color: antiquewhite;
  background-blend-mode: darken;
  margin: auto;
  padding: 0;
}

header div img {
  margin: 5%;
  margin-top: 10%;
  margin-left: 75%;
  width: 15vw;
  height: auto;
  padding: 0;
  border: none;
  box-shadow: -10px 10px 5px 2px #333;
  border-radius: 25px;
}

.buttom a {
  margin: auto;
}

nav {
  width: 100%;
  max-width: inherit;
  overflow: hidden;
  position: fixed;
  display: flex;
  background-color: darkred;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  height: auto;
}

#idiomas {
  display: flex;
  padding: 0;
  width: max-content;
  height: 50px;
  float: left;
  margin: auto;
  margin-right: 2vw;
}

#idiomas button {
  margin: 1%;
  background-color: darkred;
  border: none;
  border-radius: 5px;
}

#idiomas button:hover {
  background-color: red;
  cursor: pointer;
}

#enlaces {
  display: flex;
  width: 100%;
  position: relative;
  margin: auto;
  padding: 0;
}

#enlaces button {
  float: left;
  padding: 1%;
  background-color: grey;
  border: none;
  margin: 7px;
  box-shadow: -4px 4px 2px 1px #333;
  border-radius: 6px;
}

#enlaces .button:hover {
  background-color: whitesmoke;
  cursor: pointer;
  scale: 1.2;
}

#enlaces button:hover .link {
  color: black;
}

#enlaces #buttonActive {
  background-color: whitesmoke;
}

.link {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  color: black;
  text-decoration: none;
}

#enlaces #linksActive {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  color: black;
  text-decoration: none;
}

.separador {
  height: 200px;
  background-color: whitesmoke;
}

.separador h1 {
  font-family: "Times New Roman", Times, serif;
  color: darkred;
  align-self: center;
  text-align: center;
  padding: 5%;
  margin: 0;
  border-bottom: 5px solid #333;
}

#contenedor {
  margin: 0;
}

#contenido {
  margin: 0;
  background-color: whitesmoke;
  border: none;
  text-align: center;
}

.gallery {
  display: flex;
  justify-content: center;
}

#principal {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
  margin: 0;
  max-width: inherit;
}

.objetos {
  background-color: whitesmoke;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.titulObjetos {
  font-size: 1rem;
  color: brown;
  font-weight: bold;
  text-align: center;
  float: left;
  padding: 5%;
}

.imagObjetos {
  max-width: 100%;
  height: auto;
  margin: auto;
  box-shadow: -10px 10px 8px 4px #333;
}

@media (max-width: 1150px) {
  #principal {
    grid-template-columns: auto auto;
    align-items: center;
  }
}

@media (max-width: 980px) {
  #principal {
    grid-template-columns: auto;
  }
}

footer {
  margin: 0;
  background-color: darkred;
  display: grid;
}

.textFooter {
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 1rem;
  color: whitesmoke;
}

#lema {
  max-width: 50%;
  float: left;
  margin-left: 50px;
}

#siguenos {
  max-width: 50%;
  float: right;
  margin-right: 50px;
}

#siguenos p {
  text-align: center;
}

.enlacesRRSS {
  background-color: transparent;
  border: none;
}

.enlacesRRSS:hover {
  cursor: pointer;
  scale: 1.1;
}

#datosContacto {
  margin-top: 20px;
}

#detalles_contacto {
  padding: 5px;
  border-top: 2px solid whitesmoke;
  color: whitesmoke;
  margin-top: 40px;
  text-align: center;
}
