ul {
  list-style: none; /* No circle, square ...*/
  margin: 0;
  padding: 0;
}
li{ padding: 15px;}
a {
  background-position: 0 50%; /* horizontal position (left) vertical position (center) */
  background-repeat: no-repeat;
  color: #0087cc;
  padding-left:32px;  /* room for the icon */
  padding-top:10px;
  padding-bottom:10px;
  text-decoration: none; /* remove underline from the link */
}
a:hover {
  color: #ff7b29;
}
a[href$=".pdf"] { /* if the a attribute value ends with ".pdf" ... */ 
  background-image: url("images/pdf.png");
}
a[href$=".doc"] { /* if the a attribute value ends with ".doc" ... */
  background-image: url("images/doc.png");
}
a[href$=".jpg"] { /* if the a attribute value ends with ".jpg" ... */
  background-image: url("images/image.png");
}
a[href$=".mp3"] { /* if the a attribute value ends with ".mp3" ... */
  background-image: url("images/audio.png");
}
a[href$=".mp4"] { /* if the a attribute value ends with ".mp4" ... */
  background-image: url("images/video.png");
}
div > a.recognize{ /* a.recognize direct sibling of div */
  padding: 0;
}