@import '_myMixing';

$primary_1: #f5f5f5;
$primary_2: #ffebd7;
$primary_3: #808080;
$primary_4: #333333;
$primary_5: #8b0000;
$secondary_1: #fc0000;
$secondary_2: #a42a2a;

$Font_Primary: Georgia, 'Times New Roman', Times, serif;
$Font_Footer: Verdana, Geneva, Tahoma, sans-serif;

/*---------------Header Alquiler-------------------------------------------*/

.cabecera_alquiler {
  @include headerProperty();

  @include headerImg($primary_3, '../imagenes/IAAlquiler.jpeg');

  div {
    @include headerDiv($Font_Primary, $primary_2, $primary_4);
  }
}
