
$primary_1: #f5f5f5;
$primary_2: #ffebd7;
$primary_3: #808080;
$primary_4: #333333;
$primary_5: #8b0000;
$secondary_1: #fc0000;
$secondary_2: #a42a2a;

$Font_Primary: Georgia, 'Times New Roman', Times, serif;
$Font_Footer: Verdana, Geneva, Tahoma, sans-serif;

/* -------------------------------------- Navbar Ventas -----------------------------*/

.menuNavegacion {
  grid-area: menu;
  background-color: $primary_5;
}

#menu_principal {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;

  a {
    display: block;
    text-decoration: none;
    color: $primary_4;
    background-color: $primary_3;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 5px 0;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    text-align: center;
    box-shadow: -8px 8px 4px 2px $primary_4;
  }

  a:hover {
    background-color: $primary_1;
    color: $primary_4;
  }
}

#enlaces_ventas {
  background-color: $primary_5;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: auto;
}
