* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div.header{
    position: relative;
    background-color: #0099cb;
    text-align: center;
    width:90%;
    margin:auto;
}
#header_image{
    box-shadow: 2px 2px 5px black;
    max-width: 100%;
    height: auto; 
}
div.hmenu{
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bolder;
    background-color: #14bfee;
    position: absolute;
    width:100%;
}
div.hmenu ul{
    list-style-type: none;
    /*margin: 0;
    padding: 0;*/
    overflow: visible;
    background-color: #14bfee;
}
div.hmenu li{
    float: left;
    background-color: #14bfee;
    /*margin-left: 5px;*/
}
div.hmenu li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    margin: 5px 0;
    text-decoration: none;
    background-color: #14bfee;
}
div.hmenu li a:hover{
    background-color: #0099cb;
    border-radius: 7px;
}
/*.dropbtn_start, .dropbtn_disciplines {
    background-color: #0099cb;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}*/
.dropdown_start, .dropdown_disciplines {
    position: relative;
    display: inline-block;
}
.dropdown_start_content, .dropdown_disciplines_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_start_content a, .dropdown_disciplines_content a{
    /*color: black;*/
    /*padding: 12px 16px;*/
    /*text-decoration: none;*/
    display: block;
}
.dropdown_start:hover .dropdown_start_content,
.dropdown_disciplines:hover .dropdown_disciplines_content{
    display: block;
}
/*.dropdown_start_content a:hover,
.dropdown_disciplines_content a:hover{
    background-color: #f1f1f1;
}*/

/*.dropdown_start:hover .dropbtn_start,
.dropdown_disciplines:hover .dropbtn_disciplines{
    background-color: #3e8e41;
}*/
