* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div.header{
    background-color: #0099cb;
    text-align: center;
    width: 80%;
    margin: auto;
    /*overflow: auto;*/
}
#header_image{
    box-shadow: 2px 2px 5px black;
    max-width: 100%;
    height: auto;
}
div.hmenu{
    z-index:1000;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bolder;
    width: 100%;
    background-color: #14bfee;
}
div.hmenu ul{
    list-style-type: none;
    width:100%;
    background-color: #14bfee;
    text-align: left;
}
div.hmenu li{
    /*float: left;*/
    display: inline-block;
    margin-left: 5px;
}
div.hmenu li a{
    display: block;
    color: white;
    padding: 14px 16px;
    margin: 5px 0;
    text-decoration: none;
    background-color: #14bfee;
}
div.hmenu li a:hover{
    background-color: #0099cb;
    border-radius: 7px;
}