body {
  max-width: 1280px;
  margin: auto;
  padding: 0;
  background-color: rgb(255, 255, 255);
}
.cabecera {
  height: 30vw;
  grid-area: header;
  margin: 0;
  padding: 0;
  background-image: url(./imagenes/IAAlquiler.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: darkgrey;
}

.contenido {
  grid-area: main;
}
.pie {
  grid-area: footer;
}

nav {
  width: 100%;
  max-width: inherit;
  overflow: hidden;
  display: flex;
  background-color: darkred;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  height: auto;
}

#enlaces {
  display: flex;
  width: 100%;
  position: relative;
  margin: auto;
  padding: 0;
}

#enlaces a {
  width: 150px;
  float: left;
  padding: 1%;
  background-color: grey;
  border: none;
  margin: auto;
  box-shadow: 4px 4px 3px black;
  border-radius: 5px;
  text-align: center;
}

#enlaces a {
  text-decoration: none;
  color: whitesmoke;
}

#enlaces a:hover {
  background-color: whitesmoke;
  cursor: pointer;
  scale: 1.2;
  color: #333;
}

.cabecera div {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 4vw;
  color: antiquewhite;
  background-color: black;
  opacity: 0.75;
}

.cabecera div h1 {
  margin: auto;
}

#enlaces {
  background-color: darkred;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: auto;
}

#menu_principal a {
  text-decoration: none;
  color: whitesmoke;
}

#enlaces:hover ul a {
  color: black;
}

.contenido {
  background-color: whitesmoke;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 15px;
  row-gap: 15px;
  padding: 2rem;
  margin: 0;
}

@media (max-width: 1150px) {
  .contenido {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 980px) {
  .contenido {
    grid-template-columns: auto;
  }
}

#presentacion{

    background-color: whitesmoke;
    padding: 5%;
}

.elementos {
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 20px;
  border: none;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 10px 10px 5px black;
  background-color: whitesmoke;
}

.elementos h3 {
  margin: 3px;
  padding: 1rem;
  text-align: center;
  color: black;
}

.elementos img {
  margin: auto;
  max-width: 250px;
  height: auto;
  border-radius: 10%;
  border: none;
  padding: 0;
}

.elementos span {
  margin: 5px;
  padding: 1rem;
  text-align: center;
  color: darkslategray;
}

footer {
  margin: 0;
  background-color: darkred;
  display: grid;
}

.textFooter {
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 1rem;
  color: whitesmoke;
}

#lema {
  max-width: 50%;
  float: left;
  margin-left: 50px;
}

#siguenos {
  max-width: 50%;
  float: right;
  margin-right: 50px;
}

#siguenos p {
  text-align: center;
}

.enlacesRRSS {
  background-color: transparent;
  border: none;
}

.enlacesRRSS:hover {
  cursor: pointer;
  scale: 1.1;
}

#datosContacto {
  margin-top: 20px;
}

#detalles_contacto {
  padding: 5px;
  border-top: 2px solid whitesmoke;
  color: whitesmoke;
  margin-top: 10%;
  text-align: center;
}
