body {
  background-color: rgb(0, 0, 0);
}

header {
  background-image: linear-gradient(rgba(47,79,79,0),rgba(47,79,79,1));
  margin: 0;
  padding: 0.2em;
  grid-auto-columns: 500px auto;
  display: flex;
  border: 3px solid black;
}

header h1 {
  float: left;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: whitesmoke;
  padding: 0.5em;
  margin: auto;
}

header div img {
  margin-top: 10px;
  margin-bottom: 40px;
  margin-right: 40px;
  float: right;
  width: 40vw;
  height: auto;
  padding: 0;
  border: 1px solid;
  box-shadow: 10px 10px 5px black;
}

nav {
  display: flex;
  background-color: dimgrey;
  margin: 0;
  padding: 4px;
  height: auto;;
}

#idiomas {
  display: flex;
  padding: 2px;
  width: auto;
  float: left;
  margin: auto;

}

#idiomas button {

  margin: 4px;
  background-color: dimgrey;
  border:none;
}

#idiomas button:hover{
  background-color: darkslategray;
}

#enlaces {
  display: flex;
  width: 100%;
  float: left;
  margin: 3px;
  padding: 0;
}

#enlaces button {
  float: left;
  padding: 1%;
  background-color: darkred;
  border: none;
  margin: 3px;
  box-shadow: 4px 4px 3px;
  border-radius: 10%;
}

#enlaces .button:hover {
  background-color: whitesmoke;
}

#enlaces button:hover .link{
  color:black;
}

#enlaces #buttonActive {
  background-color: lightgrey;
}

.link {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  color: whitesmoke;
  text-decoration: none;
}

#enlaces #linksActive {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
  color: black;
  text-decoration: none;
}

#contenido {
  margin: 0;
  background-color: darkslategrey;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#principal {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
  row-gap: 30px;
  padding: 20px;
  position: relative;
}

@media (max-width:1000px) {
  #principal {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 600px) {
  #principal {
    grid-template-columns: auto;
  }
}

.objetos {
  background-color: whitesmoke;
  height: auto;
  width: 250px;
  padding: 0.4em;
  margin: 1em;
  border: 1px solid black;
  border-radius: 5%;
  box-shadow: 10px 10px 5px black;
  position: relative;
}

.titulObjetos {
  display: block;
  font-size: 1rem;
  color: brown;
  font-weight: bold;
  text-align: center;
  height: 10%;
  margin-bottom: 1.5vw;
}

.imagObjetos {
  display: block;
  width: 90%;
  height: auto;
  margin: auto;
}

.textObjetos {
  display: block;
  height: auto;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  margin: 0;
  background-color: dimgrey;
  background-image: linear-gradient(dimgrey, black);
  display: grid;
}

.textFooter {
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 1rem;
  color: whitesmoke;
}

#lema {
  float: left;
  margin-left: 50px;
}

#siguenos {
  float: right;
  margin-right: 50px;
}

#siguenos p{
  text-align: center;
}

#datosContacto {
  margin-top: 10px;
}

#detalles_contacto {
  padding: 5px;
  border-top: 2px solid whitesmoke;
  color: blanchedalmond;
  margin-top: 10px;
}
